<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <RunConfiguration>
        <EnvironmentVariables>
            <Spacearr__Postgres__Host>192.168.100.5</Spacearr__Postgres__Host>
			<Spacearr__Postgres__Port>5432</Spacearr__Postgres__Port>
			<Spacearr__Postgres__User>abc</Spacearr__Postgres__User>
			<Spacearr__Postgres__Password>abc</Spacearr__Postgres__Password>
        </EnvironmentVariables>
    </RunConfiguration>
</RunSettings>